* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.flex-container {
  display: flex;
  /* background-color: #265077; */
  background: url('images/Jobs2.jpg') no-repeat fixed;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Шапка */
header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* position: absolute; */
  /* background: url('images/Jobs2.jpg') no-repeat; */
  min-height: 100vh;
  /* align-items: baseline; */
}

.top_menu {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.logo {
  color: White;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 180px;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav_link {
  color: #fff;
  text-decoration: none;
  transition: color .2s linear;
  margin: 0 10px;
}

.nav_link:hover {
  color: #210085;
}

.slogan {
  max-width: 1000px;
  align-self: center;
  color: #fff;
  margin-top: 15%;
}


/* Основной контент */
main {
  display: flex;
  justify-content: space-around;
  /* background-color: #1E4258; */
  flex:1;
}

aside {
  flex:1;
}
.content {
  flex:4;
}

.content {
  background-color: #1E4258;
  padding: 50px;
  color: #fff;
}

.sertificates {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 20px;
  background-color: #1E4258;
  /* align-self: center; */
  padding: 10px;
}

/* Подвал */
footer {
  background-color: #022140;
  height: 160px;
  /* align-self: flex-end; */
  color: #fff;
  margin-top: 25px;
}
